body {
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 3vw;
}

.section {
    text-align: center;
    border-bottom: 7px solid white;
    padding: 3vw;
}


header h1 {
    font-size: 9em;
    font-weight: 900;
    text-decoration: underline;
    padding: 0;
    margin: 0 0 6% 0;
    line-height: 1.1em;
}
header p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-style: italic;
    margin: 0 0 5vw 0;
}

#list {
    width: 70vw;
    margin: 0 auto;
}

#list h2 {
    font-size: 5em;
    margin: 0 0 2vw 0;
    text-decoration: underline;
    
}



.element {
    
    border: solid 4px white;
    list-style-type: none;
    margin: 2vw 0;
    text-align: left;
}

.nr {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 3em;
    display: inline-block;
    background-color: white;
    color: black;
    
}

.text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    display: inline-block;
    
}